<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/login-register.css">
</head>

<body>
  <header class="header-signup-login">
    <div id="message"></div>
    <h1>Notes in the cloud</h1>
    <h2>Create Account</h2>
  </header>
  <main class="main-signup-login">
    <form id="login-form" class="login-signup-form">
      <p>Username</p>
      <input class="input-signup-login" type="text" id="username" name="username" placeholder="Enter username" required>

      <p>Password</p>
      <input minlength="6" class="input-signup-login" type="Password" id="password" name="password"
        placeholder="Enter at least 6 characters" required>

        <p>Re-enter password</p>
        <input minlength="6" class="input-signup-login" type="password" id="re-enter-pass" name="re-pass" placeholder="Re-enter password" required>

      <button type="submit" class="submit-button">Create Account</button>
      <p class="redirect-information">Already have an account? <a class="redirect-link" href="/views/login/login.html">Log in</a></p>
    </form>
  </main>
  <script src="/views/register/register.js"></script>
</body>
</html>