<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/public/css/dashboard.css">
  <link rel="stylesheet" href="/public/css/reset.css">
</head>

<body>
  <header>
    <h1>Notes in the cloud</h1>
    <h2>Dashboard</h2>
  </header>

  <main>
    <div class="notes-container" id="notes-container"></div>
    <button id="logout-btn" class="logout-button">Log out</button>
  </main>

  <script src="/views/dashboard/dashboard.js"></script>
</body>

</html>