<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header-signup-login">
    <div id="message"></div>
    <h1>Notes in the cloud</h1>
    <h2>Create Account</h2>
  </header>
  <main class="main-signup-login">
    <form id="login-form" class="login-signup-form" action="/register" method="POST">
      <p>Username</p>
      <input class="input-signup-login" type="text" id="username" name="username" placeholder="Enter username" required>

      <p>Password</p>
      <input minlength="6" class="input-signup-login" type="Password" id="password" name="password"
        placeholder="Enter at least 6 characters" required>

      <button type="submit" class="submit-button">Create Account</button>
      <p class="redirect-information">Already have an account? <a class="redirect-link" href="/login">Log in</a></p>
    </form>
  </main>
  <script>
    const params = new URLSearchParams(window.location.search);
    const messageBox = document.getElementById('message');
    const error = params.get('error');
    const success = params.get('success');

    if (error) {
      messageBox.innerText = decodeURIComponent(error);
      messageBox.classList.add('error');
    }

    if (success) {
      messageBox.innerText = decodeURIComponent(success);
      messageBox.classList.add('success');
    }
  </script>
</body>

</html>